<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align:center;">
      Pacientes
    </ion-title>
    <ion-buttons end>      
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-list>

    <ion-item-sliding *ngFor="let patient of patients">
      <ion-item (click)="edit(patient.id)">
        <ion-avatar item-left>
                <img src="{{patient.avatar}}">
        </ion-avatar>
        <h3 item-center *ngIf="patient">{{patient.name}}</h3>
        <p item-center *ngIf="patient"> Edad - {{patient.age}} años</p>
        
        <button ion-button *ngIf="patient.state_exam == 1" item-right icon-center color="danger">        
          <p style="padding-right: 5px; color: white;">Sin Realizar </p>
          <ion-icon name="md-flask" ></ion-icon>
        </button>

        <button ion-button *ngIf="patient.state_exam == 2" item-right icon-center color="warm-18">        
          <p style="padding-right: 5px; color: white;">Laboratorio </p>
          <ion-icon style="color: white;" name="md-flask" ></ion-icon>
        </button>

       <button ion-button *ngIf="patient.state_exam == 3 " item-right icon-center color="secundary">        
         <p style="padding-right: 5px; color: white;">Terminado </p>
          <ion-icon name="md-flask"></ion-icon>
        </button>

      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" icon-left (click)="call(patient.phonenumber)">
          <ion-icon name="ios-call" ></ion-icon>
          Llamar
        </button>
        <button ion-button color="danger" icon-left (click)="share()">
          <ion-icon name="ios-chatbubbles" ></ion-icon>
          Chatear
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>