<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align:center;">
      Pacientes
    </ion-title>
    <ion-buttons end>      
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-list>

    <ion-item-sliding *ngFor="let patient of patients">
      <ion-item (click)="edit(patient.id)">
        <ion-avatar item-left>
                <img src="{{patient.avatar}}">
        </ion-avatar>
        <h2 item-center *ngIf="patient">{{patient.name}}</h2>
        <p item-center *ngIf="patient"> Edad - {{patient.age}} años</p>
        <ion-note item-right *ngIf="patient">Cita Médica: {{patient.lastreview}}</ion-note>
        <button ion-button item-right icon-end color="danger">
         * 
        <ion-icon name="md-flask"></ion-icon>
        </button>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" icon-left (click)="call(patient.phonenumber)">
          <ion-icon name="ios-call" ></ion-icon>
          Llamar
        </button>
        <button ion-button color="danger" icon-left (click)="share()">
          <ion-icon name="ios-chatbubbles" ></ion-icon>
          Chatear
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>